@import url('utils.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.margin-header {
  margin-top: 4rem;
}

.section {
  margin-bottom: 1rem;
  background-color: #fdf5ea;
  padding: 1.5rem 0;
}

.section-no-bg {
  margin-bottom: 1rem;
  padding: 1.5rem 0;
}

.table {
  margin-top: 1.5rem;
}

.grid-3 {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
